<div class="actions">
  <app-search (searchValueChange)="search($event)"></app-search>
  <app-button color="primary" label="Agregar" routerLink="/register-product"></app-button>
</div>

<div class="container container--borders">
  <app-table
    [columnTitles]="columnTitles"
    [columnNames]="columnNames"
    [columnInfo]="columnInfo"
    [data]="(products$ | async) || []"
    (openMenu)="openMenu($event)"
  ></app-table>

  <div class="actions actions--bottom">
    <div>{{ resultMessage$ | async }}</div>
    <app-select [data]="selectOptions" (selectionChange)="updateDisplayedItems($event)"></app-select>
  </div>
</div>

<app-context-menu (closeMenu)="clearProductId()">
  <div class="context-menu__item" [routerLink]="'/register-product/' + (selectedProductId$ | async)">Editar</div>
</app-context-menu>
