@import 'styles';

:host {
  width: 100%;
}

.actions {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  @include gt-md {
    flex-direction: row;
  }

  app-button {
    margin: 10px;

    @include gt-md {
      margin: 30px;
    }
  }
}
