<table class="table">
  <thead class="table__header">
    <tr>
      <th
        *ngFor="let column of columnTitles; let index = index"
        [hidden]="column === 'id'"
        [style.width]="100 / (columnNames.length - 1) + '%'"
      >
        {{ column }}
        <span [title]="columnInfo[index]" *ngIf="columnInfo[index]">ℹ️</span>
      </th>
      <th class="icon-column"></th>
    </tr>
  </thead>
  <tbody class="table__body">
    <tr *ngFor="let item of data">
      <td *ngFor="let column of columnNames" [hidden]="column === 'id'">
        <ng-container *ngIf="column === 'logo'; else defaultCell">
          <div class="image-container">
            <img class="image" [src]="item[column]" />
          </div>
        </ng-container>
        <ng-template #defaultCell>
          {{ item[column] | formatTableValue }}
        </ng-template>
      </td>
      <td class="icon-column">
        <app-button label="⋮" color="icon" (click)="emitOpenMenu($event, item['id'])"></app-button>
      </td>
    </tr>
  </tbody>
</table>
